# Requirements for CatPred (Python 3.10)
torch==2.4.1
fair-esm==2.0.0
transformers==4.47.1
sentencepiece==0.2.0
numpy==1.26.4
pandas==2.2.3
pandas-flavor==0.6.0
scikit-learn==1.5.2
scipy==1.14.1
tqdm==4.67.1
typed-argument-parser==1.10.1
descriptastorus==2.8.0
rotary-embedding-torch==0.6.5
hyperopt==0.2.7
matplotlib==3.9.2
tensorboardX==2.6.2.2
